{% load i18n %}

{% block subject %}
{% blocktrans %}Активация аккаунта на сайте BlackFox Nutrition{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<div style="max-width: 900px; margin: 0; border-radius: 5px; padding: 20px; font-family: Arial, sans-serif; background-color: #f9f9f9; color: #333;">
    <h2>{% blocktrans %}Активация аккаунта{% endblocktrans %}</h2>
    <p>{% blocktrans %}{{ first_name }}, здравствуйте!{% endblocktrans %}</p>
    <p>{% blocktrans %}Cпасибо за регистрацию на сайте <b>BlackFox Nutrition</b>. Чтобы активировать вашу учетную запись, пожалуйста, нажмите на кнопку ниже:{% endblocktrans %}</p>
    <a href="https://www.blackfoxnutrition.ru/{{ url|safe }}" style="display: inline-block; padding: 10px 20px; color: #fff; background-color: #007BFF; text-decoration: none; border-radius: 5px;">
        {% blocktrans %}Активировать аккаунт{% endblocktrans %}
    </a>
    <p>{% blocktrans %}Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.{% endblocktrans %}</p>
    <p>{% blocktrans %}Спасибо, что выбрали нас!{% endblocktrans %}</p>
    <footer style="margin-top: 20px; font-size: 0.9em; color: #777;">
        {% blocktrans %}&copy; BlackFox Nutrition, {{ year }} г. Все права защищены.{% endblocktrans %}
    </footer>
</div>
{% endblock html_body %}
